body {
	font-family: sans-serif;
}

.ol-viewport button,
.ol-viewport button:focus {
	cursor: pointer;
	background-color: #eab811;
}

.ol-viewport button:hover {
	background-color: #eab811;
	color: #999999;
	border: 1px solid #999999;
}

.ol-attribution li {
	display: block;
	text-align: left;
}

.ol-attribution ul {
    font-size: 10px;
}